// Place all the styles related to the public::end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info-item {
  display: inline-block;
}

.icon-image {
  position: relative;
  bottom: 55px;
}