// Place all the styles related to the public::end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info-item {
  display: inline-block;
}

.icon-image {
  position: relative;
  bottom: 55px;
}




/* ↓ここから下は、ブラウザがデフォルトで持っているCSSを打ち消すCSS↓ */
html,body,h1,h2,h3,h4,ul,ol,dl,li,dt,dd,p,div,span,img,a,table,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
}

/* ↓タブを横並び↓ */
.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

/* ↓タブのデザイン↓ */
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}

/* ↓タブがアクティブになっている時のデザイン↓ */
.tab-active {
  color: #FFF;
  background: gray;
  transition: all 0.2s ease-in-out;
}

/* ↓タブの中身↓ */
.tabbox {
  /* ↓タブの中身を最初は非表示↓ */
  display: none;
  /* ↓タブの中身の余白↓ */
  padding: 15px;
}

/* ↓このクラスがついている時だけタブの中身を表示↓ */
.box-show {
  display: block;
}