// Place all the styles related to the public::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.public-image {
  background-image: image-url("football-690684_1920.jpg");
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.home-title {
  padding-top: 150px;
  padding-left: 100px;
  font-size: 70px;
  color: #fff;
  letter-spacing : 4px;
  text-shadow    :
       2px  2px 1px #999999,
      -2px  2px 1px #999999,
       2px -2px 1px #999999,
      -2px -2px 1px #999999,
       2px  0px 1px #999999,
       0px  2px 1px #999999,
      -2px  0px 1px #999999,
       0px -2px 1px #999999;
}