<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>Editing Blog</h3>
      <%= render 'render/error', obj: @blog %>
      <%= render 'render/form', blog: @blog %>
    </div>
    <div class="col-sm-3">
      <%= render 'render/sidebar', end_user: @end_user, tags: @tags %>
    </div>
  </div>
</div>
