<!-- エンドユーザー側の新規投稿画面 -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="mb-5">Create New Blog</h3>
      <%= render 'render/error', obj: @blog %>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-8 offset-sm-1">
      <%= render 'render/form', blog: @blog %>
    </div>
    <div class="col-sm-3">
      <%= render 'render/sidebar', end_user: @end_user, tags: @tags %>
    </div>
  </div>
</div>
