<!-- エンドユーザー側の新規投稿画面 -->
<div class="container">
  <div class="row">
    <%= render 'layouts/header' %>
  </div>
  <div class="row">
    <h3>Create New Blog</h3>
    <%= render 'render/form', blog: @blog %>
  </div>
  <div class="row">
    <%= render 'layouts/footer' %>
  </div>
</div>
