<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3>Tags Search</h3>
      <%= render 'render/blogs_index', blogs: @blogs %>
    </div>
    <div class="col-sm-3">
      <%= render 'render/sidebar', end_user: @end_user, tags: @tags %>
    </div>
  </div>
</div>