<div class="jumbotron">
  <div class="container">
    <div class="row pb-5">
      <div class="col-sm-12">
        <%= render 'render/frontmenu' %>
        <P class="notice"><%= notice %></P>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-sm-12 text-center pb-3">
        <h1 class="app-title">What is FOOTBALL to YOU?</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center app-introduction pb-1">
        <h5>
          If you are a soccer fan, have you ever thought about this question?<br />
          If you can't find the answer to this question, it's okay.<br />
          We'll be there for you until you find the answer.
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= link_to "SIGN UP", new_end_user_registration_path, class: "btn btn-lg btn-secondary" %>
      </div>
    </div>
  </div>
</div>