/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Bootstrapの導入*/
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';



.jumbotron {
  background-image: image-url("football-690684_1920.jpg");
  height: 100vh;
  background-size: cover;
}

.logo-size {
  padding-left: 100px;
  height: 100px;
  max-width: 100%;
}

footer {
  height: 100px;
  width: 100%;
  margin-top: 300px;
  bottom: 0;
}

.footer-text {
  padding-bottom: 10px;
  color: #fff;
}

.app-title {
  font-size: 90px;
  color: #fff;
}

.app-introduction, .about-introduction, .pege-heading, .form-item, .link, .nav-item {
  color: #fff;
}

.message-danger {
  color: #fff;
}

.fa-bookmark {
  color: #528fff;
}

#error_explanation {
  color: red;
}

.notice {
  color: green;
}

#danger, .alert {
  color: red;
}